<div class="d-flex align-items-center">
  <h2>{{ 'DASHBOARD.TODOS.TITLE' | translate }}</h2>
  <div class="ms-auto">
    <button class="btn btn-primary">{{ 'DASHBOARD.TODOS.CREATE' | translate }}</button>
  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
    <div class="form-check form-control-lg">
      <input class="form-check-input" type="checkbox" value="" id="item" />
      <label class="form-check-label" for="item"> Default checkbox </label>
    </div>
    <p class="mb-0 mt-2">Exercitation sunt aliqua ullamco laboris ipsum tempor irure.</p>
  </div>
  <div class="card-footer d-flex">
    <span>{{ today | date:'short' }}</span>
    <span class="ms-5">{{ amount | currency:'XOF' }}</span>
    <span class="ms-auto">{{ customer | fees: 'UTC +5' }}</span>
  </div>
</div>
