<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTodoModal">{{ 'DASHBOARD.TODOS.CREATE' | translate }}</button>


<!-- Modal -->
<div class="modal fade" id="addTodoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addTodoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="todoForm" (ngSubmit)="submit()" class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addTodoModalLabel">Créer une tâche</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="title" class="form-label">Titre</label>
          <input
            type="text"
            pInputText
            aria-describedby="title"
            placeholder=""
            formControlName="title"
            [ngClass]="[f('title')?.invalid && f('title')?.touched ? 'is-invalid' : '']"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input
            type="text"
            pInputText
            aria-describedby="description"
            placeholder=""
            formControlName="description"
            [ngClass]="[f('description')?.invalid && f('description')?.touched ? 'is-invalid' : '']"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" [disabled]="!todoForm.valid" class="btn btn-primary">Créer</button>
      </div>
    </form>
  </div>
</div>
