<div class="text-center mt-5" *ngIf="loading">
  <p-progressSpinner
    styleClass="w-1rem h-1rem"
    strokeWidth="6"
    fill="var(--surface-ground)"
    animationDuration=".5s" />
</div>
<div class="container" *ngIf="!loading">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <p>{{ 'DASHBOARD.DASHBOARD.TODOS' | translate }}</p>
              <h1>{{ resume.all }}</h1>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <p>{{ 'DASHBOARD.DASHBOARD.MY_TODO' | translate }}</p>
              <h1>{{ resume.me }}</h1>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="card alert alert-danger">
            <div class="card-body p-0">
              <p>{{ 'DASHBOARD.DASHBOARD.TODO' | translate }}</p>
              <h1>{{ resume.todo }}</h1>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="card">
            <div class="card-body">
              <p>{{ 'DASHBOARD.DASHBOARD.DONE' | translate }}</p>
              <h1>{{ resume.done }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <p-chart type="pie" [data]="data" [options]="options" />
        </div>
      </div>
    </div>
  </div>
</div>
