<div class="text-center mt-5" *ngIf="loading">
  <p-progressSpinner ariaLabel="loading" />
</div>
<div class="container" *ngIf="!loading">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <p>Tâches</p>
              <h1>{{ resume.all }}</h1>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <p>Mes tâches</p>
              <h1>{{ resume.me }}</h1>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="card alert alert-danger">
            <div class="card-body p-0">
              <p>À faire</p>
              <h1>{{ resume.todo }}</h1>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="card">
            <div class="card-body">
              <p>Terminées</p>
              <h1>{{ resume.done }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <p-chart type="pie" [data]="data" [options]="options" />
        </div>
      </div>
    </div>
  </div>
</div>
