<div class="card mt-4">
  <div class="card-body">
    <label class="custom-checkbox" (click)="mark(todo)">
      <input name="dummy" [checked]="todo.done" type="checkbox"><span class="checkmark"></span>
      <span [ngStyle]="{ 'text-decoration' : todo.done ? 'line-through' : 'none' }">
        {{ todo.title }}
      </span>
    </label>
    <p class="mt-2 mb-2">{{ todo.description }}</p>
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-light w-100">{{ todo.created_at| date:"d/m/Y H:m" }}</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-light w-100">{{ todo.author.name }}</button>
      </div>
      <div class="col-md-6 text-end">
        <button class="btn btn-clear text-danger" (click)="remove(todo.id)">Supprimer</button>
      </div>
    </div>
  </div>
</div>
