<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center mb-3">
      <p class="m-0">{{ 'SIDEBAR.MENU' | translate }}</p>
      <div class="ms-auto">
        <div class="dropdown">
          <button class="btn btn-clear btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ currentLanguage.name }}
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let language of languages">
              <ng-container *ngIf="language.code !== currentLanguage.code">
                <a class="dropdown-item" (click)="choose(language)">{{ language.name }}</a>
              </ng-container>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="d-block d-lg-flex align-items-center mb-4">
      <div class="flex-shrink-0">
        <img src="https://i.pravatar.cc/300" alt="" width="50" class="rounded-circle" />
      </div>
      <div class="flex-grow-1 ms-lg-3">
        <h5 class="m-0">{{ user.name }}</h5>
        <p class="m-0 text-muted">{{ user.email }}</p>
      </div>
    </div>


    <ul class="nav nav-pills nav-fill d-block">
      <li class="nav-item">
        <a class="nav-link text-start"
          [routerLink]="['/dashboard']"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">{{ 'SIDEBAR.DASHBOARD' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-start"
        [routerLink]="['/dashboard/todos']"
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="active">{{ 'SIDEBAR.TODOS' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-start cursor" (click)="logout()">{{ 'SIDEBAR.LOGOUT' | translate }}</a>
      </li>
    </ul>
  </div>
</div>
