<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h1>{{ 'AUTH.LOGIN.TITLE' | translate }}</h1>
          <p>{{ 'AUTH.LOGIN.SUBTITLE' | translate }}</p>
          <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="mb-3">
              <label for="email" class="form-label">{{ 'AUTH.LOGIN.FORM.EMAIL' | translate }}</label>
              <input
                type="email"
                name="email"
                id="email"
                pInputText
                aria-describedby="email"
                placeholder=""
                formControlName="email"
                [ngClass]="[f('email')?.invalid && f('email')?.touched ? 'is-invalid' : '']"
              />
            </div>
            <div class="mb-3 w-100">
              <label for="password" class="form-label">{{ 'AUTH.LOGIN.FORM.PASSWORD' | translate }}</label>
              <p-password [feedback]="false" formControlName="password"
              [toggleMask]="true" name="password" id="password"
              [ngClass]="[f('password')?.invalid && f('password')?.touched ? 'is-invalid' : '']"
              />
            </div>
            <button [disabled]="!loginForm.valid" class="btn btn-primary w-100" type="submit">{{ 'AUTH.LOGIN.FORM.CONNEXION' | translate }}</button>
          </form>
          <p class="mt-3 text-center">{{ 'AUTH.LOGIN.FORM.NEW_USER' | translate }}</p>
          <a [routerLink]="['/register']" class="btn btn-light w-100">{{ 'AUTH.LOGIN.FORM.REGISTER' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
